/* DataTables */

.dataTable {
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--slimed {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
  }

  &--search {
    margin-left: auto;
  }

  &--options {
    display: flex;
    margin-left: auto;
    gap: 1rem;
  }

  &--select {
    margin-left: auto;
  }

  &--button {
    display: flex;
    gap: 1rem;
    height: 40px;
    margin-left: auto;
  }

  &--pagination {
    margin-left: auto;
  }

  &--header{
    display: flex;
  }

  &--footer {
    display: flex;
  }
}

#moloni {
  .dataTables {
    &_processing {
      top: calc(50% + 21px) !important;
    }

    &_empty {
      padding: 40px !important;
    }
  }
}
