.order_overlay {
  background: #EAEBED;
  border-radius: 10px;
  padding: 5px;
  overflow: auto;
  max-height: 150px;
  max-width: 100%;

  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.5rem;
    background: #C9D0DD;
    transition: all 0.3s ease;
  }

  &::-webkit-scrollbar:hover {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: #8F9EB9FF;
  }
}