<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>moloni</name>
    <displayName><![CDATA[Moloni]]></displayName>
    <version><![CDATA[3.0.0]]></version>
    <description><![CDATA[Transform all your orders in verified documents without any effort and focus on selling!]]></description>
    <author><![CDATA[Moloni]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>