/* Company select */

.moloni-company--card {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.moloni-company--wrapper {
  gap: 1rem;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  white-space: nowrap;
}

.moloni-company--image {
  height: 9.5rem;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  margin-bottom: 1rem;
}

.moloni-company--image img {
  max-width: 100%;
  object-fit: contain;
}
