.bo_search_form{
    display: none;
}

.card{
    width: 400px;
    float: left;
    margin-left: 25px !important;
}

.image-text{
    height: 170px;
    font-size: 40px;
    text-align: center;
    background-image: url("../img/companyBG.png");
    color: white;
    text-shadow: 1px 1px 0 rgba(245, 245, 245, 0.5);
    background-size: cover;
    background-position: bottom;
}

.image-text span{
    display: inherit;
    padding: 15px;
    word-break: break-all;
}

.card-content span i{
    cursor: pointer;
}

.card-image.waves-effect.waves-block.waves-light{
    height: 130px;
}