/* Collapsible */

.collapsible {
    cursor: pointer;
    border-bottom: 1px solid;
}
.collapsible:not(:last-child) {
    margin-bottom: 10px;
}
.collapsible-wrapper {}
.collapsible-title {
    margin-bottom: 10px;
}
.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.collapsible-body {}
.collapsible-icon {
    margin-left: auto;
    transition: .3s ease-out;
}
.collapsible-icon--open {
    transform: rotate(180deg);
}

/* Buttons */

.moloni-icon {
    text-decoration: none !important;
}

.moloni-icon__blue {
    color: #25b9d7;
}

.moloni-icon__green {
    color: #4CAF50;
}

.moloni-icon__red {
    color: #F44336;
}

.moloni-icon + .moloni-icon {
    margin-left: 10px;
}

/* DataTables */

.dataTables--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.dataTable--slimed {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
}

.dataTable--search {
    margin-left: auto;
}

.dataTable--pagination {
    margin-left: auto;
}

.dataTable--header{
    display: flex;
}

.dataTable--footer {
    display: flex;
}

/* Messages */

.moloni-message {
    text-align: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.moloni-message strong {
    width: 100%;
    font-size: 15px;
    line-height: 1.33;
}

.moloni-message__success{
    background-color: #cce9d7;
}

.moloni-message__error{
    color: #fff;
    background-color: #F44336;
}

.messagepop {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: default;
    display: none;
    margin-top: 15px;
    position: absolute;
    text-align: left;
    width: 500px;
    z-index: 50;
    padding: 25px 25px 20px;
    top: 59px;
    right: 12px;
}
